.container {
    margin-top: 10px; /* Ajusta esto si el nav tiene diferente altura */
    padding: 20px;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.item img {
    
    height: 200px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    transform: translateY(20%);
}

.item h1 {
    color: #6A4E3D;
}

.item p {
    max-width: 800px;
}

@media only screen and (max-width: 768px) {
    .item {
        flex-direction: column;
    }

    .item img {
        width: 100%;
        height: auto;
        margin-right: 0;
        transform: translateY(0);
        margin-bottom: 20px;
    }
}
